[submodule "bundle/lusty"]
	path = bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "bundle/rename"]
	path = bundle/rename
	url = https://github.com/danro/rename.vim.git
[submodule "bundle/vim-auto-save"]
	path = bundle/vim-auto-save
	url = https://github.com/vim-scripts/vim-auto-save.git
[submodule "bundle/jade"]
	path = bundle/jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/html5"]
	path = bundle/html5
	url = https://github.com/othree/html5.vim.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/Dockerfile-vim"]
	path = bundle/Dockerfile-vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-trailing-whitespace"]
	path = bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
